.gopath
.idea
*.iml
logs
*.pprof
*.output
*.data
*.sw[ap]
*.yml
*.pid
*.tar.gz
*.log
tags
bin/*
conf/*
!conf/nimo-shake.conf

runtime.trace

.DS_Store

data
vendor/

.cache/
diagnostic/
*.pid
src/vendor/*
!src/vendor/vendor.json
